html
    head
        meta(name="viewport", content="width=device-width")
        meta(name="robots", content="NOINDEX, NOFOLLOW")
        link(rel="stylesheet", href="../style.css")
    body
        #app-root
        script(src="./index.tsx")