name: Deploy client-app to GitHub Pages
on:
  push:
    branches:
      - master
    paths:
      - .github/**
      - client-app/**
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: client-app/node_modules
          key: ${{ runner.os }}-build-client-app-${{ hashFiles('client-app/yarn.lock') }}

      - name: Install and build
        run: |
          cd client-app
          yarn --prod
          yarn test || exit 1
          yarn build --base /${{ github.event.repository.name }}/

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GH_DEPLOYMENT_TOKEN }}
          branch: gh-pages
          folder: client-app/dist
