name: Deploy client-app to GitHub Pages
on:
  push:
    branches:
      - master
    paths:
      - .github/**
      - client-app/**

permissions:
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: client-app/node_modules
          key: ${{ runner.os }}-build-client-app-${{ hashFiles('client-app/yarn.lock') }}

      - name: Install and build
        run: |
          cd client-app
          yarn --prod
          yarn test || exit 1
          yarn build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: client-app/dist

      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
